.App {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  height: auto;
  width: 60vw;
  display: flex;
  align-items: center;
  padding: 2vmin;
  flex-direction: column;
  border: solid lightgray 1px;
}

.topInputs {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.get-recipes-btn {
  border-radius: 0.5vmin;
  width: 50%;
  height: 5vmin;
  font-size: 2.5vmin;
  cursor: pointer;
}

img {
  border-radius: 0.5vmin;
  width: 60vw;
  height: auto;
  margin: 2vmin;
}

.displayedRecipe {
  padding: 2vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.goToRecipeBtn {
  font-size: 3vmin;
  text-decoration: none;
  color: black;
  border-radius: 0.5vmin;
}

.recipeTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: none;
  margin: 0.5vmin;
  padding: 1.5vmin;
  width: 50vmin;
}
.recipeTitles:hover {
  cursor: pointer;
}

.pickOne {
  font-size: 3.5vmin;
  text-align: center;
  font-weight: 600;
}
.displayedRecipeTitle {
  text-align: center;
  margin-top: 4vmin;
  font-size: 4vmin;
}

a {
  text-decoration: none;
  color: black;
}
